<!DOCTYPE html>
<html lang="en"  layout:decorate="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .sub-title{
            color:gray;
            font-size: 20px;
        }

        .edit-btn{
            float: right;
        }
    </style>
</head>
<body>

<div>
    <span>Sticky Notes/ <span class="sub-title" th:text="${sticky.getName()}">Sticky Note Name</span>
        <span class="edit-btn"><a class="btn btn-success btn-sm" th:href="@{/edit-note/{id}(id=${sticky.id})}"> Edit</a></span>
    </span>
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12" >
                    <div class="card" th:style="${'background-color: '+sticky.getColor()}" >
                        <div class="card-body">
                            <h5 class="card-title" th:text="${sticky.getName()}"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" >Created: <span th:text="${sticky.getCreatedAt()}" ></span></h6>
                            <p class="card-text" th:text="${sticky.getDescription()}" ></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</body>
</html>