<!DOCTYPE html>
<html lang="en"  layout:decorate="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .sub-title{
            color:gray;
            font-size: 20px;
        }

        .edit-btn{
            float: right;
        }
    </style>
</head>
<body>



<div layout:fragment="content">

    <div>
    <span>Sticky Notes/ <span class="sub-title" th:text="${sticky.getName()}">Sticky Note Name</span>
        <span class="edit-btn">
            <a class="btn btn-primary btn-sm" th:href="@{'/edit-note/' + ${sticky.getId()}}"> Edit</a>
          <button class="btn btn-success btn-sm"  data-toggle="modal" data-target="#addNoteModal"  > add</button>
        </span>
    </span>
    </div>

    <div class="row">
        <div class="col-12" >
            <div class="row">
                <div class="col-12" >
                    <div class="card" th:style="${'background-color: '+sticky.getColor()}" >
                        <div class="card-body">
                            <h5 class="card-title" th:text="${sticky.getName()}"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" >Created: <span th:text="${sticky.getCreatedAt()}" ></span></h6>
                            <p class="card-text" th:text="${sticky.getDescription()}" ></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="${'/note/add/' + sticky.getId()}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <div class="row">

                       <div class="col-12">
                           <div class="form-group">
                         <label for="note"> note </label>
                               <textarea  name="note"  id="note" class="form-control"></textarea>
                           </div>

                       </div>

                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col-8" th:each="note: ${notes}">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Created : <span th:text="${note.getCreatedAt()}"></span></h6>
                <p class="card-text" th:text="${note.getNote()}" ></p>
                <button class="btn btn-sm btn-danger">Delete</button>
            </div>
        </div>
    </div>


</div>







</body>
</html>